* {
    padding: 0%;
    margin: 0%;
    font-family: Roboto;
}
/* <!--styling the hero section --> */
.header{
    position:fixed;
    width: 100%;
    background-color: blanchedalmond;
    padding: 20px 10px;
    top: 0;
}
.Hero {
    position: relative;
    width: 100;
    height: 100vh;
    background-color:white;
}
/* <!--styling the nav section --> */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    padding: 20px 0;
    margin: auto;
}
.navbar ul li{
    list-style: none;
    display: inline;
    margin: 10px 20px;
}
.navbar ul li a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.navbar ul li a:hover{
    color: red;
}
.content {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10px;
    
}
.content-1 {
    max-width: 600px;
}
.content-1 h1{
    margin-top: 20%;
    font-size: 50px;
    margin-bottom: 2%;
}
span {
    color: bisque;
}
.content-1 p{
   margin: 20px 0 40px;
}
.news form{
    position: relative;
    width: 300px;
    max-width: 100%;
}
.news form input:first-child{
    display: inline-block;
    width: 52%;
    padding: 14px 130px 14px 15px;
    border: 2px solid antiquewhite;
    outline: none;
    border-radius: 30px;
}
.news form input:last-child{
    position: absolute;
    display: inline-block;
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: blanchedalmond;
    color: black;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px antiquewhite;
    top: 6px;
    right: 2px;
}
.images img{
    width: 45%;
    height: 70%;
    position: absolute;
    bottom:0%;
    left: 50%;
    padding: 20px 0;
    border-radius: 50px;
    background: transparent;
    transition: 3s; 
}
.images img:hover {
    background:rgb(138, 110, 74);
    opacity: .7;  
}
/* <!--styling the about section --> */
.about {
    width:100%;
    padding: 100px 0px;
}
.about img{
    height: auto;
    border-image: 30px round;
   
}
.about-text {
    width: 550px
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.main video{
    width: 450px;
    height: 300px;
    border-radius: 50px;
}
.about-text h2{
    font-weight: bold;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;

}
span {
    color: antiquewhite;   
}

.about-text p{
    letter-spacing: 2px;
    margin-bottom: 40px;
    line-height: 25px;

}

button {
    text-decoration: none;
    background-color: antiquewhite;
    color: #000;
    padding: 13px 30px;
    border: 2px solid transparent;
    border-radius: 30px;
    font-weight: bold;
}
/* <!--styling the sills section --> */
.work {
    padding: 100px 0px;
   margin: 45px;
   
}
.work h3{
    padding: 20px;
    text-transform: capitalize;
    font-size: 40px;

}
table, th, td {
    border:1px solid antiquewhite;
    padding: 20px;
  }
/* <!--styling the footer section --> */
  .footer {
    background-color: black;
    font-weight: 300;
    padding: 30px;
  }
  .footer h4{
    display: flex;
    justify-content: center;
    color: aliceblue;
  }
  .footer p{
    display: flex;
    justify-content: center;
    color: antiquewhite;
  }




